@import "next-colors/main";

@import "o-assets/main";
@include oAssetsSetModulePaths((
  o-ft-icons: '//build.origami.ft.com/files/o-ft-icons@2.3.4'
));
@import "o-ft-icons/main";
@include oFtIconsFontFace();
.icon {
  @include oFtIconsBaseIconStyles();
}

/* remove icons until o-icons is fixed in the buildservice is fixed */
[class*="icon"] {
        display: none;
}

@import "o-fonts/main";
@include oFontsInclude(BentonSans, normal);
@include oFontsInclude(FinancierDisplay, normal);

$fontSans: BentonSans, Arial, sans-serif !default;
$fontSerif: Georgia, Times New Roman, serif !default;
$fontBrand: FinancierDisplay, Georgia, serif !default;

$o-grid-large-max-width: 980px;
$o-grid-extra-large-max-width: 980px;

// disabling until import once is implemented in o-grid 3
// $o-grid-is-silent: false;
// @import "o-grid/main";
