@import "next-colors/main";

@import "o-assets/main";
@include oAssetsSetModulePaths((
	o-ft-icons: '//build.origami.ft.com/files/o-ft-icons@2.3.4'
));
@import "o-ft-icons/main";
@include oFtIconsFontFace();
.icon {
	@include oFtIconsBaseIconStyles();
}

/* remove icons until o-icons is fixed in the buildservice */
[class*="icon"] {
	display: none;
}

@import "o-fonts/main";
@include oFontsInclude(FinancierDisplayWeb, normal);
@include oFontsInclude(MetricWeb, light);
@include oFontsInclude(MetricWeb, medium);
@include oFontsInclude(MetricWeb, bold);
@include oFontsInclude(MetricWeb, normal);

$fontSans: MetricWeb, Arial, sans-serif !default;
$fontSerif: Georgia, Times New Roman, serif !default;
$fontBrand: FinancierDisplayWeb, Georgia, serif !default;

$o-grid-is-silent: false;
$o-grid-mode: snappy;
@import "o-grid/main";
