{{#if @root.flags.analytics}}
	<script>
		(function (loc) {
			if (!loc.pathname) {
				return;
			}
			// http://stackoverflow.com/questions/236073/why-split-the-script-tag-when-writing-it-with-document-write
			var js = '<script src="/__ijento/' + loc.pathname.slice(1) + '"><\/script>';
			document.write(js);
		})(location);
	</script>
	{{#if @root.flags.spoor}}
	<script>
		// https://github.com/Financial-Times/spoor-api
		var spoor = '<img src="https://spoor-api.herokuapp.com/px.gif"/>';
		document.write(spoor);
	</script>
	{{/if}}
{{/if}}
